mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}