<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignUp(signUpForm)"  #signUpForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="email" name="email" placeholder="E-Mail" ngModel #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a post email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type ="password" name="password" matInput placeholder="Password" ngModel #passwordInput="ngModel" required password>
        <mat-error *ngIf="passwordInput.invalid">Please enter a password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Signup</button>
    </form>
  </mat-card>
  